

.animeImage {
    height: auto;
    width: 250px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.animeContainer {
    width: 30%;
}

.animeDescription {
    display: none;
}
