{% extends 'base.html.twig' %}

{% block body %}

    <div id="trending">Trending animes</div>
    <div id="clickTest">Top animes</div>
    <div id="test"></div>
    <div id="form"></div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}

{% endblock %}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('test') }}
{% endblock %}

