{% extends 'base.html.twig' %}

{% block body %}

    <div id="searchBar"></div>
    <div id="trendingAnimes">Trending animes</div>
    <div id="topAnimes">Top animes</div>
    <div id="category">Anime par catégorie (Musical Band)</div>
    <div id="container"></div>
    <div id="form"></div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}

{% endblock %}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('anime') }}
{{ encore_entry_script_tags('searchBar') }}
{% endblock %}

